*,
*::before,
::after {
  box-sizing: border-box;
}

html {
  text-rendering: optimizeSpeed;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 100%;
  color: hsl(234, 29%, 20%);
}

/* #endregion = GLOBAL */
/* #region = COMPONENTS */
.c-bg {
  height: 100svh;
  background-color: hsl(235, 18%, 26%);
}

.c-card {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  height: 100svh;
}
@media (min-width: 48rem) {
  .c-card {
    height: auto;
    border-radius: 2rem;
    padding: 2.5rem;
    max-inline-size: none;
    max-inline-size: clamp(31rem, 26rem + 17vw, 50rem);
  }
}
@media (min-width: 64rem) {
  .c-card {
    height: 40rem;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    max-inline-size: none;
    inline-size: 56.5rem;
  }
  .c-card.u-flex\:col {
    flex-direction: row;
  }
}

.c-list\:item {
  position: relative;
  padding-inline-start: 2.25rem;
}

.c-list\:item::before {
  content: "";
  position: absolute;
  top: 0.125rem;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../assets/images/icon-list.svg);
  background-size: contain;
}

.c-input {
  padding: 1rem 1.5rem;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 58%);
  border-radius: 0.5rem;
  transition: all 200ms;
}
.c-input::-moz-placeholder {
  color: hsl(0, 0%, 58%);
}
.c-input::placeholder {
  color: hsl(0, 0%, 58%);
}
.c-input:focus {
  border-color: hsl(234, 29%, 20%);
  box-shadow: 0 0 0 1px hsl(234, 29%, 20%);
}
@media (min-width: 64rem) {
  .c-input:hover {
    border-color: hsl(234, 29%, 20%);
    box-shadow: 0 0 0 1px hsl(234, 29%, 20%);
  }
}

@property --a {
  syntax: "<color>"; /* its type */
  inherits: false;
  initial-value: hsl(234, 29%, 20%); /* the initial value */
}
@property --b {
  syntax: "<color>"; /* its type */
  inherits: false;
  initial-value: hsl(234, 29%, 20%); /* the initial value */
}
.c-button {
  --a: hsl(234, 29%, 20%);
  --b: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 0.5rem;
  transition: --a 300ms, --b 300ms, box-shadow 300ms;
  background: linear-gradient(90deg, var(--a), var(--b));
}
.c-button:focus {
  --a: hsl(15, 100%, 61%);
  --b: hsl(346, 100%, 66%);
  box-shadow: 0 1rem 2rem 0 hsla(4, 100%, 67%, 0.5);
}
@media (min-width: 64rem) {
  .c-button:hover {
    --a: hsl(15, 100%, 61%);
    --b: hsl(346, 100%, 66%);
    box-shadow: 0 1rem 2rem 0 hsla(4, 100%, 67%, 0.5);
  }
}

/* #endregion = COMPONENTS */
/* #region = LAYOUT */
.o-img {
  width: 100%;
  line-height: 0;
}
@media (min-width: 64rem) {
  .o-img {
    height: 100%;
    width: 25rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1rem;
  }
}

.o-card_content {
  padding: 2.5rem 1.5rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media (min-width: 48rem) {
  .o-card_content {
    padding: 0;
  }
  .o-card_content.u-gap\:2\.5rem {
    gap: 1.5rem;
  }
}
@media (min-width: 64rem) {
  .o-card_content {
    order: -1;
    justify-content: center;
    flex: 1;
  }
  .o-card_content .u-gap\:1\.5rem {
    gap: 2rem;
  }
  .o-card_content.u-gap\:2\.5rem {
    gap: 2rem;
  }
}

@media (min-width: 48rem) {
  .o-form.u-gap\:1\.5rem {
    gap: 1rem;
  }
}
@media (min-width: 64rem) {
  .o-form.u-gap\:1\.5rem {
    gap: 1.5rem;
  }
}

.o-card_success {
  width: 100svw;
  height: 100svh;
  padding: 3rem 1.5rem 3rem 1.5rem;
  background-color: hsl(0, 0%, 100%);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
@media (min-width: 48rem) {
  .o-card_success {
    height: auto;
    padding: 4rem;
    gap: 2rem;
    max-inline-size: 31rem;
    border-radius: 2rem;
  }
}

.o-card_success\:title {
  padding-bottom: 10vh;
}
@media (min-width: 48rem) {
  .o-card_success\:title {
    padding-bottom: 0;
  }
}

.img-success {
  width: 4rem;
  height: 4rem;
  background-image: url(../assets/images/icon-success.svg);
  background-size: contain;
}

/* #endregion = LAYOUT */
/* #region = UTILITIES */
.u-flex\:col {
  display: flex;
  flex-direction: column;
}

.u-flex\:row {
  display: flex;
  flex-direction: row;
}

.u-flex\:center {
  align-items: center;
  justify-content: center;
}

.u-flex\:sp-btw {
  justify-content: space-between;
}

.u-gap\:0\.5rem {
  gap: 0.5rem;
}

.u-gap\:1\.5rem {
  gap: 1.5rem;
}

.u-gap\:2rem {
  gap: 2rem;
}

.u-gap\:2\.5rem {
  gap: 2.5rem;
}

.u-error {
  border-color: hsl(4, 100%, 67%);
  background-color: hsl(2, 100%, 95%);
}
.u-error:focus {
  border-color: hsl(4, 100%, 67%);
  box-shadow: 0 0 0 1px hsl(4, 100%, 67%);
}
.u-error::-moz-placeholder {
  color: hsl(4, 100%, 67%);
}
.u-error::placeholder {
  color: hsl(4, 100%, 67%);
}
@media (min-width: 64rem) {
  .u-error:hover {
    border-color: hsl(4, 100%, 67%);
    box-shadow: 0 0 0 1px hsl(4, 100%, 67%);
  }
}

.u-error_font {
  color: hsl(4, 100%, 67%);
}

/* #endregion = UTILITIES */
/* #region = FONTS */
.f-preset_1 {
  font-size: 2.5rem;
  line-height: 100%;
  font-weight: 700;
}
@media (min-width: 48rem) {
  .f-preset_1 {
    font-size: 3.5rem;
  }
}

.f-preset_2 {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 400;
}

.f-preset_3 {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 700;
}

.f-weight\:700 {
  font-weight: 700;
}

.f-width\:40ch {
  max-inline-size: 40ch;
}

/* #endregion = FONTS *//*# sourceMappingURL=main.css.map */